<footer class="bg-dark text-light pt-5 pb-3">

    <div class="container">

        <div class="row">

            <!-- Company -->
            <div class="col-lg-4 mb-4">

                <h4 class="fw-bold">

                    ElectroRent

                </h4>

                <p class="text-light-emphasis">

                    Rent laptops, cameras, TVs, gaming consoles,
                    and home appliances at affordable prices.

                </p>

            </div>

            <!-- Quick Links -->
            <div class="col-lg-4 mb-4">

                <h5>

                    Quick Links

                </h5>

                <ul class="list-unstyled">

                    <li>
                        <a routerLink="/" class="footer-link">
                            Home
                        </a>
                    </li>

                    <li>
                        <a routerLink="/products" class="footer-link">
                            Products
                        </a>
                    </li>

                    <li>
                        <a routerLink="/my-bookings" class="footer-link">
                            My Bookings
                        </a>
                    </li>

                    <li>
                        <a routerLink="/profile" class="footer-link">
                            Profile
                        </a>
                    </li>

                </ul>

            </div>

            <!-- Contact -->
            <div class="col-lg-4 mb-4">

                <h5>

                    Contact

                </h5>

                <p>

                    📧 support@electrorent.com

                </p>

                <p>

                    📞 +91 98765 43210

                </p>

                <p>

                    📍 Kerala, India

                </p>

            </div>

        </div>

        <hr class="border-secondary">

        <div class="text-center">

            © 2026 ElectroRent. All Rights Reserved.

        </div>

    </div>

</footer>